{% extends "layout.html" %}

{% block content %}



<div class="row">
    <img class="contain" src={{ img_tichonet }} alt='Missing'>
</div>
<div class="row">
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="heb"></h2>
        <p class="heb">
            
        </p>
    </div>
    <div class="col-md-8">
        <h2 class="heb">על הפרויקט</h2>
        <p class="heb">
            שם: בן גרד
            <br /><br />
             כיתה י'2
            <br /><br />
            בית ספר: תיכונט
            <br />
            מדעי הנתונים
            <br /><br />
             במהלך הפרויקט אחקור את מדדי ggggg.
            <br /><br />
            הפרויקט יתבסס על המרכיבים הטכנולוגיים הבאים:
            <br /><br />
            * שפת פייתון.
            <br />
            * ספריית Pandas.
            <br />
            * תשתית Flask לבניית שרת אינטרנט.
        </p>
    </div>
</div>

{% endblock %}
