{% extends "layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1 class="heb">שריפת גזמואג</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="heb">נושא העבודה, תחום המחקר</h2>
        <p class="heb">
            Fires are a dangerous thing especially to large gardens like the ones in this database.
            <br /><br />
            Based on the database I have, I'll be analyzing the large garden fires all over Israel'
            <br /><br />
            בעבודה זאת אחקור את כמות השריפות בישראל משנות ה2000 המוקדמות ועד 2020

        </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <br /><br /><br /><br /><br />
        <img class="contain" src={{ img_OnFire }} alt='Missing'>
    </div>
</div>

{% endblock %}
