{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="center">CityTemps</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="heb">נושא העבודה, תחום המחקר</h2>
        <p class="heb">
            Weather and temperature are 2 things that change over time, especially with global warming effecting it so heavily in the recent years.
            <br /><br />
            Based on the database I have, I'll be analyzing the temperatures changes over time in different places around the world'
            <br /><br />
            בעבודה זאת אחקור את שינוי הטמפרטורות בעולם.

        </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
       <br>
        <img class="contain" src={{ img_OnFire }} alt='Missing'>
    </div>
</div>

{% endblock %}
